* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111011;
}

header {
    width: auto;
    height: 100px;
    background-color: darkgray;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
}

.logo {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7%;
    box-shadow: 9px 4px 6px 0px #878484;
}

.M {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 6px;
    left: 11px;
}

.logo-1 {
    display: flex;
    /* background-color: aqua; */
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: 6%; */
}

.mono {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.bank {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(64, 63, 63);
}

.menu {
    margin-right: 60px;
    margin-left: 140px;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(64, 63, 63);  
    /* background-color: red; */
    margin-top: auto;
    margin-bottom: auto;  
}

a {
    text-decoration: none;
    color:rgb(64, 63, 63);
}

.menu a {
    margin-right: 20px;
    transition: 0.5s;
}

.menu a:hover {
    color: white;
}



.exit {
    
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    /* top: 8px;
    left: 20px; */
    width: 120px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7%;
    padding-top: 8px;
    transition: 0.5s;
}


.exit:hover {
    color: black;
    background-color: white;
    color: black;
    border: 2px solid black;
}
/* ---------------------------header-off-------------------------------- */

.telephone-sec {
    width: auto;
    height: 730px;
    background-color: #111011;
    position: relative;
}

.telephone {
    position: absolute;
    width: 301px;
    height: 613px;
    background-color: black;
    box-shadow: 0px -1px 15px 5px white;
    border-radius: 50px;
    top: 104px;
    left: 242px;
}

.text {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 195px;
    left: 589px;
    width: 60%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-2 {
    font-size: 20px;
    color: white;
    width: 50%;
    position: absolute;
    top: 315px;
    left: 611px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#skore {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 400px;
    right: 610px;
    border-radius: 18px;
    text-align: center;
    font-size: 25px;
    color: #111011;
    font-weight: 700;
}

::-webkit-input-placeholder {
    font-size: 20px;
    text-align: center;
}


.button-push {
    width: 250px;
    height: 50px;
    border-radius: 18px;
    background-color: #9184bd;
    position: absolute;
    top: 402px;
    right: 319px;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s;
    border: 3px solid #9184bd ;
}

.button-push-text {
    display: block;
    margin-left: 28px;
    margin-top: 12px;
}

.downlode {
    width: 500px;
    height: 200px;
    /* background-color: aqua; */
    position: absolute;
    top: 482px;
    right: 401px;
}

.qr-back {
   position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    top: 22px;
    left: 20px;
}

.qr-code {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.apple-down {
    /* border: 0.5px solid white; */
    position: absolute;
    top: 22px;
    right: 188px;
}

.google-back {
    width: 125px;
    background-color: black;
    position: absolute;
    top: 23px;
    right: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px white;
}



.card-sec {
    /* background-color: aqua; */
    height: 730px;
    position: relative;
}

.card {
    position: relative;
    width: 402px;
    height: 240px;
    background-color: black;
    border-radius: 20px;
    top: 284px;
    right: -967px;
    box-shadow: 2px 0px 20px 5px white;
    
}

.namber {
    color: #2d2d2d;
    font-size: 29px;
    word-spacing: 12px;
    position: absolute;
    top: 142px;
    left: 45px;
}

.logo-2 {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    top: 12px;
    left: 19px;
}

.Msecond {
    position: absolute;
    color: black;
    font-size: 30px;
    top: 6px;
    left: 11px;
}

.logo-3 {
    position: absolute;
    display: flex;
    /* background-color: aqua; */
    /* margin-left: 6%; */
    top: 23px;
    left: 81px;
}

.mono {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ddd5d5;
}

.bank {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(64, 63, 63);
}

.date {
    color: #2d2d2d;
    font-size: 23px;
    position: absolute;
    top: 185px;
    left: 214px;
}

.mastercard {
    position: absolute;
    top: 170px;
    right: 34px;
    
}

.UAH {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 28px;
    left: 333px;
}

.chip {
    transform: rotate(0deg);
    position: absolute;
    top: 82px;
    left: 39px;
}

.univ {
    color:#2d2d2d;
    font-size: 16px;
    position: absolute;
    top: 27px;
    left: 188px;
}

.applepay {
    position: absolute;
    top: 93px;
    left: 100px; 
}

.world {
    color: #2d2d2d;
    position: absolute;
    top: 106px;
    right: 42px;
    font-size: 19px;
}

.button-push:hover {
    background-color: white;
    color: #626bcc;
}


.give-card {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 116px;
    left: 100px;
}

.how-to-downlode {
    width: 719px;
    height: 400px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 202px;
    left: 101px;
}

.blue {
    width: 80px;
    height: 80px;
    background-color: #626bcc;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 36px;
    border: 2px solid white;
}

.red {
    width: 80px;
    height: 80px;
    background-color: #d50000;
    border-radius: 50%;
    position: absolute;
    top: 155px;
    left: 36px; 
    border: 2px solid white;
}

.yellow {
    width: 80px;
    height: 80px;
    background-color: #ffcd00;
    border-radius: 50%;
    position: absolute;
    top: 294px;
    left: 36px; 
    border: 2px solid white;
}

.blue-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
color: white;
position: absolute;
    top: 56px;
    left: 149px;
}

.blue-href {
    color: #626bcc;
    transition: 0.5s;
}

.blue-href:hover {
    color: white;
}

.red-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 23px;
color: white;
position: absolute;
top: 182px;
    left: 154px;
}

.yellow-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
color: white;
position: absolute;
top: 311px;
left: 129px;
}

.photo-download {
    position: absolute;
    top: 20px;
    left: 20px;
}

.photo-id {
    position: absolute;
    top: 18px;
    left: 20px;
}

.take-card {
    position: absolute;
    top: 20px;
    left: 20px;
}

.tabl-sec {
    width: auto;
    height: 1100px;
    background-color: white;
}

.titleoftablsec2 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.titleoftablsec {
    padding-top: 60px;
    margin-bottom: 25px;
}

.proposition {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

button {
    width: 300px;
    height: 60px;
    background-color: #fa5255;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: 620px;
    box-shadow: 1px 3px 11px 2px #5d5959;
    transition: 0.2s;
}

button:hover {
    background-color: #f53336;
    box-shadow: 1px 3px 18px 6px #5d5959;
    font-size: 21px;
}

table {
    width: 1000px;
    height: 500px;
    margin-left: 250px;
    margin-top: 100px;
    text-align: center;
    color: #5d5959f1;
}

td {
    border-top: 0.1px solid #5d595918;
    border-right: 1px solid #5d595918;
    font-weight: 600;
}

th {
    border-right: 1px solid #5d595918;
    font-size: 30px;
    width: 250px;
    height: 70px;
}

.back {
    background-color: #fa5255;
    

}

th.back {
    color: white;
    font-size: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.green-t {
    color: green;
    font-weight: 600;
}

.red-t {
    color: red;
    font-weight: 600;
}

td.back {
    color: white;

}

#back-last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;  
}
footer {
    position: relative;
    width: auto;
    height: 100px;
    background-color: #2d2d2d;
}
.contacts {
    position: absolute;
    display: flex;   
    margin-top: 30px;
     margin-left: 1px;
}

.button-telegram {
    width: 170px;
    height: 40px;
    background-color: #0f89b2;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    border: 3px solid #0f89b2;
    transition: 0.5s;
    display: flex;
    text-align-last: center;
    padding-top: 4px;

}

.button-telegram:hover {
    background-color: white;
    color: #0f89b2;
   }

.button-instagram {
    width: 170px;
    height: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    border: 3px solid rgb(210, 45, 89);
    transition: 0.5s;
    background-color: rgb(210, 45, 89);
    margin-left: 50px;
    display: flex;
    line-height: center;
    padding-top: 3px;
}

.button-instagram:hover {
    color: rgb(210, 45, 89) ;
    background-color: white;
}

.tel-icon {
    margin-right: 7px;
    margin-left: 15px;
}

.ins-icon {
  margin-right: 10px;
  margin-left: 7px;
}

.viber-button {
    display: flex;
    width: 170px;
    height: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    border: 3px solid rgb(93 35 202);
    transition: 0.5s;
    background-color: rgb(93 35 202);
    margin-left: 50px;
    padding-top: 3px;
    transition: 0.3s;
}

.vib-icon {
    margin-left: 15px;
    margin-right: 15px;
}

.viber-button:hover {
    color: rgb(93 35 202);
    background-color: white;
}

.final-logo {
  width: 400px;
  height: 40px;
  /* background-color: #ddd5d5; */
  display: flex;
  text-align: center;
  margin-left: 100px;
  margin-right: 150px;
}

.final-logo-monobank {
font-size: 35px;
color: white;
margin-right: 10px;
transition: 0.5s;
}

.slash {
height: auto;
width: 2px;
background-color: white;
border-radius: 30%;
margin-right: 10px;
transition: 0.5s;
}

.final-logo-universal {
    font-size: 35px;
    color: white;
    transition: 0.5s;
}

.final-logo-monobank:hover {
    color: red;
}

.final-logo-universal:hover {
    color: red;
}

.slash:hover {
    background-color: red;
    border: red;
}
